{% extends "doctor/index.html" %}
{% block body %}
<form action="/change_password_post" method="post" enctype="multipart/form-data">
<table class="table table-bordered">

  <tr>
    <td>Current Password</td>
    <td>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
  </tr>
  <tr>
    <td>New Password</td>
    <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td>
      <input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
  </tr>
</table>
</form>
{% endblock %}