<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html lang="zxx">

<head>
	<title>Validator Signup Form Responsive Widget Template :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Validator Signup Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
{#	<script>#}
{#		addEventListener("load", function () {#}
{#			setTimeout(hideURLbar, 0);#}
{#		}, false);#}
{##}
{#		function hideURLbar() {#}
{#			window.scrollTo(0, 1);#}
{#		}#}
{#	</script>#}
	<!-- Meta tag Keywords -->
	<!-- css file -->
	<link rel="stylesheet" href="/static/register/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<!-- //css file -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>
	<!-- title -->
	<h1>
		<span>S</span>ignup
	</h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-w3">
		<form validate="true" action="/dr_signup_post" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="exampleInputText">Name</label>
				<input type="text" class="form-control" name="textfield" id="exampleInputText" placeholder="Enter Name" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">Date Of Birth</label>
				<input type="date" class="form-control" name="textfield1" id="exampleInputText" placeholder="Enter Date of Birth" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">Gender</label>
				<select class="form-control" required name="RadioGroup1" >
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" name="textfield7" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
			</div>
			<div class="form-group">
				<label for="exampleMobile1">Mobile Number</label>
				<input type="mobile" class="form-control" name="textfield6" id="exampleMobile1" placeholder="Mobile number" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">House</label>
				<input type="text" class="form-control" name="textfield5" id="exampleInputText" placeholder="Enter House Name" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">Place</label>
				<input type="text" class="form-control" name="textfield4" id="exampleInputText" placeholder="Enter Place" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">Post</label>
				<input type="text" class="form-control" name="textfield3" id="exampleInputText" placeholder="Enter Post" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">Pin</label>
				<input type="text" class="form-control" name="textfield2" id="exampleInputText" placeholder="Enter Pin" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">District</label>
				<select class="form-control" required name="select2">
                    <option>Select</option>
                    <option>Kozhikode</option>
                    <option>Kannur</option>
                    <option>Vadakara/kadavathur</option>
                </select>
			</div>
            <div class="form-group">
				<label for="exampleInputText">State</label>
				<select class="form-control" required name="select">
                    <option>select</option>
                    <option>Andhra Pradesh</option>
                    <option>Arunachal Pradesh</option>
                    <option>Assam</option>
                    <option>Bihar</option>
                    <option>Chattisgarh</option>
                    <option>Goa</option>
                    <option>Gujarat</option>
                    <option>Haryana</option>
                    <option>Himachal Pradesh</option>
                    <option>Jharkhand</option>
                    <option>Karnataka</option>
                    <option>Kerala</option>
                    <option>Madhya Pradesh</option>
                    <option>Maharashtra</option>
                    <option>Manipur</option>
                    <option>Meghalaya</option>
                    <option>Mizoram</option>
                    <option>Nagaland</option>
                    <option>Odissa</option>
                    <option>Punjab</option>
                    <option>Rajasthan</option>
                    <option>Sikkim</option>
                    <option>Tamil Nadu</option>
                    <option>Telengana</option>
                    <option>Tripura</option>
                    <option>Uttarakhand</option>
                    <option>Uttar Pradesh</option>
                    <option>West Bengal</option>

                </select>
			</div>

            <div class="form-group">
				<label for="exampleInputText">Qualification</label>
				<input type="text" class="form-control" name="textarea" id="exampleInputText" placeholder="Enter Qualification" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">Experience</label>
				<input type="text" class="form-control" name="textfield8" id="exampleInputText" placeholder="Enter Experience" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">Photo</label>
				<input type="file" class="form-control" name="fileField" id="exampleInputText" placeholder="Enter Name" required>
			</div>
            <div class="form-group">
				<label for="exampleInputText">Username</label>
				<input type="text" class="form-control" name="textfield9" id="exampleInputText" placeholder="Enter Username" required>
			</div>

			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input maxlength="10" minlength="3" type="password" name="textfield10" class="form-control" id="exampleInputPassword1" placeholder="Password"
				    required>
			</div>
			<div class="form-group">
				<label for="exampleConfirmPassword1">Confirm Password</label>
				<input type="password" class="form-control" id="exampleConfirmPassword1" name="textfield11" placeholder="Confirm Password" required data-match="password"
				    data-match-field="#exampleInputPassword1">
			</div>
			<div class="form-group">
				<label class="checkbox-inline">
					<input type="checkbox" value="true" required>I agree to the terms and conditions
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Signup</button>
		</form>
	</div>
	<!-- //content -->

	<!-- copyright -->
	<div class="footer">

	</div>
	<!-- //copyright -->

	<!-- Jquery -->
	<script src="/static/register/js/jquery-2.2.3.min.js"></script>
	<!-- //Jquery -->
	<!-- Jquery -->
	<script src="/static/register/js/jquery-simple-validator.min.js"></script>
	<!-- //Jquery -->

</body>

</html>