<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<h1>Docotr Signup</h1>
<form action="/dr_signup_post" method="post" enctype="multipart/form-data">
<table width="200" border="1">
  <tr>
    <td>Name</td>
    <td><input type="text" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <td>D.O.B</td>
    <td><input type="date" name="textfield1" id="textfield" /></td>
  </tr>
  <tr>
    <td>Gender</td>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" />
        Male</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" />
        Female</label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="Other" id="RadioGroup1_2" />
        Other</label>
      <br />
    </p></td>
  </tr>
  <tr>
    <td>Photo</td>
    <td><input type="file" name="fileField" id="fileField"  /></td>
  </tr>
  <tr>
    <td>State</td>
    <td><select name="select"  id="select">
        <option>select</option>
        <option>Andhra Pradesh</option>
        <option>Arunachal Pradesh</option>
        <option>Assam</option>
        <option>Bihar</option>
        <option>Chattisgarh</option>
        <option>Goa</option>
        <option>Gujarat</option>
        <option>Haryana</option>
        <option>Himachal Pradesh</option>
        <option>Jharkhand</option>
        <option>Karnataka</option>
        <option>Kerala</option>
        <option>Madhya Pradesh</option>
        <option>Maharashtra</option>
        <option>Manipur</option>
        <option>Meghalaya</option>
        <option>Mizoram</option>
        <option>Nagaland</option>
        <option>Odissa</option>
        <option>Punjab</option>
        <option>Rajasthan</option>
        <option>Sikkim</option>
        <option>Tamil Nadu</option>
        <option>Telengana</option>
        <option>Tripura</option>
        <option>Uttarakhand</option>
        <option>Uttar Pradesh</option>
        <option>West Bengal</option>


    </select></td>
  </tr>
  <tr>
    <td>District</td>
    <td><select name="select2" id="select2">
        <option>Select</option>
        <option>Kozhikode</option>
        <option>Kannur</option>
        <option>Vadakara/kadavathur</option>
    </select></td>
  </tr>
  <tr>
    <td>Pin</td>
    <td><input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
    <td>House</td>
    <td><input type="text" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="textfield6" id="textfield6" /></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="text" name="textfield7" id="textfield7" /></td>
  </tr>
  <tr>
    <td>Qualification</td>
    <td><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td>Experience</td>
    <td><input type="text" name="textfield8" id="textfield8" /></td>
  </tr>
  <tr>
    <td>Username</td>
    <td><input type="text" name="textfield9" id="textfield9" /></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><input type="text" name="textfield10" id="textfield10" /></td>
  </tr>
  <tr>
    <td>Confirm Password</td>
    <td><input type="text" name="textfield11" id="textfield11" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button2" id="button2" value="Submit" /></td>
    </tr>
</table>

</form>
</body>
</html>
