<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 align="center">Welcome Admin</h3><br>

<a href="/disease_mgmt">Disease Management</a><br><br>
<a href="/symptom_mgmt">Symptom Management</a><br><br>
<a href="/view_user">View User</a><br><br>
<a href="/approved_dr">View Doctors</a><br><br>
<a href="/view_complaint">View Complaint</a><br><br>
<a href="/view_review">View Reviews</a><br><br>
<a href="/change_password">Change Password</a><br><br>
<a href="/view_fb">View Feedback</a><br><br>
<a href=""></a><br><br>
</body>
</html>