{% extends 'admin/admin_index.html' %}
{% block body %}
<h3 align="center">Approved Doctors</h3>

<a href="/view_doctor" align="center">View Pending Doctors</a><br><br>
<form action="/approved_dr_post" method="post" enctype="multipart/form-data">
<table class="pull-left">
  <tr>
    <td><input name="textfield" type="text" class="form-control" /></td>
    <td><input name="" type="submit" value="search" class="btn btn-info"/></td>
  </tr>
</table>
<br />
<br />

<table class="table table-bordered">
  <tr style="background-color: rgba(92,77,114,0.8)">
    <td>sl.no</td>
    <td>Doctor Name</td>
    <td>D.O.B</td>
    <td>Gender</td>
    <td>Photo</td>
    <td>Addres</td>
    <td>Phone No.</td>
    <td>Email</td>
    <td>Qualification</td>
    <td>Experience</td>

  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['doctorname'] }}</td>
    <td>{{ i['dob'] }}</td>
    <td>{{ i['gender'] }}</td>
    <td><img src="{{ i['photo'] }}" height="80px" width="80"></td>
    <td>{{ i['house'] }}<br>{{ i['place'] }}<br>{{ i['post'] }}<br>{{ i['pin'] }}<br>{{ i['district'] }}<br>{{ i['state'] }}</td>
    <td>{{ i['phone'] }}</td>
    <td>{{ i['email'] }}</td>
    <td>{{ i['qualification'] }}</td>
    <td>{{ i['experience'] }}</td>

  </tr>
    {% endfor %}
</table>

</form>

{% endblock %}