{% extends 'admin/admin_index.html' %}
{% block body %}
<h3>Edit diseases</h3>
<form action="/edit_disease_post" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ data['diseaseid'] }}">
<table class="table table-bordered">
  <tr>
    <td>Disease Name</td>
    <td><input type="text" name="textfield" id="textfield" value="{{ data['disease_name'] }}" class="form-control"/></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" >{{ data['description'] }}</textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
</table>

</form>
{% endblock %}